<?xml version="1.0"?>
<configuration>
	<components>

		<component id="cimexProcessor"
		   type="ProjectBase.Newsletter.NewsletterProcessor, ProjectBase.Newsletter"
		   service="ProjectBase.Newsletter.INewsletterProcessor, ProjectBase.Newsletter">
			<parameters>
				<SessionFactoryConfigPath>NHibernate.config</SessionFactoryConfigPath>
				<TemplatePath>C:\Projects\Cimex\CimexEjecutivos\WebSite\res\mail</TemplatePath>
				<TimesToExecute>
					<array>
						<item>15:00</item>
						<item>13:00</item>
						<item>13:00</item>
						<item>01:00</item>
					</array>
				</TimesToExecute>
				<DaysToExecute>
					<array>
						<item>0</item>
						<item>1</item>
						<item>2</item>
						<item>3</item>
						<item>4</item>
						<item>5</item>
					</array>
				</DaysToExecute>
				<WeekDay>1</WeekDay>
				<MonthDay>1</MonthDay>
			</parameters>
		</component>
			
		<component id="cimexDaoFactory"
				   type="CimexEjecutivos.Data.NHibernateDaoFactory, CimexEjecutivos.Data"
				   service="CimexEjecutivos.Core.DataInterfaces.IDaoFactory, CimexEjecutivos.Core">
			<parameters>
				<sessionFactoryConfigPath>NHibernate.config</sessionFactoryConfigPath>
			</parameters>
		</component>

		
		<component  id="newsletterManager"
				type="ProjectBase.Newsletter.NewsletterManager, ProjectBase.Newsletter"
				service="ProjectBase.Newsletter.NewsletterManager, ProjectBase.Newsletter">
			<parameters>
				<sessionFactoryConfigPath>~/NHibernate.config</sessionFactoryConfigPath>
			</parameters>
		</component>
		
	</components>
</configuration>