<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectBase.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ProjectBase.Utils.Properties.Settings>
            <setting name="ProjectBase_Utils_MailSender_Mail" serializeAs="String">
                <value>http://localhost:3164/Mail.asmx</value>
            </setting>
        </ProjectBase.Utils.Properties.Settings>
    </applicationSettings>
</configuration>